@{
    Layout = "_InternLayoutCoach";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
                <div class="card card-rounded">
                    <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-start">
                            <div>
                                <h4 class="card-title card-title-dash">Voici vos cours</h4>
                                <p class="card-subtitle card-subtitle-dash">il y a @ViewBag.size cours </p>
                            </div>
                            <!-- <!--ViewBag.futurActivities.Lenght cours a mettre -->
                        </div>
                        <div class="table-responsive  mt-1">
                            @if (TempData["modifyDate"] != null && (int)TempData["modifyDate"] == 1)
                            {
                                <div class="alert alert-success" role="alert">
                                    modification successfull o(￣┰￣*)ゞ
                                </div>
                            }
                            @if (TempData["modifyDate"] != null && (int)TempData["modifyDate"] == 0)
                            {
                                <div class="alert alert-danger" role="alert">
                                    try again ╰（‵□′）╯
                                </div>
                            }
                            @if (TempData["coursDelete"] != null && (int)TempData["coursDelete"] == 1)
                            {
                                <div class="alert alert-info" role="alert">
                                    Le cours a bien etait delete !  （︶^︶）
                                </div>
                            }
                           
                            <table class="table select-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check form-check-flat mt-0">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </th>
                                        
                                        <th>Discipline</th>
                                        <th>Durée</th>
                                        <th>Date</th>
                                        <th>Lieu</th>
                                        <th>Nom de Salle</th>
                                        <th>Type de cours</th>
                                        
                                        
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.CoursProf)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@item.libelleDiscipline</td>
                                            <td>@item.duree</td>
                                            <td>@item.dateCours</td>
                                            <td>@item.adresse</td>
                                            <td>@item.nomSalle</td>
                                            <td>@item.typeCours</td>
                                            <td>
                                                
                                                    <div class="dropdown">
                                                        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuIconButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-settings"></i>
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">

                                                             <a class="dropdown-item" asp-route-id="@item.idCours" asp-action="MoreDetails" asp-controller="Cours">More details</a>
                                                             <a class="dropdown-item" asp-route-id="@item.idCours" asp-action="PostPone" asp-controller="Cours">Postpone</a>
                                                             <a class="dropdown-item" asp-route-id="@item.idCours" asp-action="Cancel" asp-controller="Cours">Cancel</a>
                                                             <a class="dropdown-item" asp-route-id="@item.idCours" asp-action="Delete" asp-controller="Cours">Delete</a>
                                                        </div>
                                                    </div>
                                                

                                            </td>
                                            
                                        </tr>
                                    }
                                    


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>